<% provide(:title, "Contact") %>

<div class="hero contact">
  <div class="title">
    <h1>A to Z Coaching</h1>
  </div>
</div>

<div class="main-content">
  <div class="title">
    <h2>Contact A to Z Coaching</h2>
  </div>
  <div class="contact-information">
    <p>You can reach A to Z Coaching by emailing <strong>maryinsanclemente@gmail.com</strong>.</p>
  </div>

</div>
